body{
    background-image: url("https://w0.peakpx.com/wallpaper/1000/128/HD-wallpaper-demon-slayer-tanjirou-kamado-with-red-eyes-having-sword-with-background-of-white-anime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(60, 179, 113), blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}
h2{
  color: rgb(60, 179, 113), blue;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
}
.header {
    overflow: hidden;
    background-color: rgba(117, 42, 7, 0.281);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(10, 10, 10);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(218, 223, 217);
    color: rgb(5, 5, 5);
    text-align: center;
  }
  #content{
    color: rgb(5, 5, 5);
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }